$bgColor:#F2D399;
$mainColor:#59331D;
$textColor:#2c2c2c;
$baseColor:#A65F37;
$accentColor:#F23827;

html{
  font-size: 62.5%;
}
body{
  background:$bgColor;
  width: 100%;
  height: auto;
}

header{
  background: $bgColor;
  width: 100%;
  height: 100vh;
  // background: tomato;
  position: relative;

  .trapezoid {
	border-top: 1050px solid $baseColor;
	border-left: 0 solid transparent;
	border-right: 150px solid transparent;
	// height:100vh;
	width: 400px;
  }
  .svgTitle{
    width: 100%;
    height: 100px;
    position: absolute;
    top:380px;
    z-index: 3;
    figure{
      width: 100%;
      height: 100px;
      img{
        width: 100%;
        height: 120%;
      }
    }
  }
  .nav{
    width: 480px;
    height: 80px;
    background:$mainColor;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    left: 80px;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    ul{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li{
        background: $bgColor;
        border-radius: 20px;
        width: 100px;
      height: 60px;
        list-style: none;
        a{
          width: 100%;
          height: 100%;
          display: block;
          color:$textColor ;
          text-decoration: none;
          text-align: center;
          line-height: 60px;
          font-size: 2.4rem;
          font-weight: bold;
          transition: ease-in-out .3s;
          letter-spacing: .5px;
        }
        :hover{
          color: $accentColor;
          letter-spacing: 1px;
        }
      }
    }
  }
  // h1{
  //   color: $textColor;
  //   font-size: 130px;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   text-align: center;
  //   line-height: 100vh;
  // }
  .scroll{
    width: 280px;
    height: 80px;
    background: $mainColor;
    position: absolute;
    top: 600px;
    left: 150px;
    h2{
      color: #fefefe;
      font-size: 32px;
      text-align: center;
      line-height: 80px;
    }
  }
  .header_images{
    position: relative;
    position: absolute;
    top: 20px;
    right: 0;
    .gear_image{

      position: absolute;
      top: 300px;
    }
  }
}
