$bgColor:#F2D399;
$mainColor:#59331D;
$textColor:#2c2c2c;
$baseColor:#A65F37;
$accentColor:#F23827;

html{
  font-size: 62.5%;
}
body{
  background:$bgColor;
  width: 100%;
  height:auto;
  // overflow: hidden;
}

header{
  background: $bgColor;
  width: 100%;
  height: 998px;
  // background: tomato;
  position: relative;
  // z-index: -2;
  overflow: hidden;

  .trapezoid {
	border-top: 998px solid $baseColor;
	border-left: 0 solid transparent;
	border-right: 150px solid transparent;
	// height:100vh;
	width: 450px;
  position: absolute;
  // z-index: -1;
  }
  .svgTitle{
    width: 100%;
    height: 100px;
    position: absolute;
    top:350px;
    z-index: 3;
    figure{
      width: 100%;
      height: 100px;
      img{
        width: 100%;
        height: 120%;
      }
    }
  }
  .nav{
    width: 480px;
    height: 80px;
    background:$mainColor;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 3;
    ul{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li{
        background: $bgColor;
        border-radius: 20px;
        width: 100px;
      height: 60px;
        list-style: none;
        a{
          width: 100%;
          height: 100%;
          display: block;
          color:$textColor ;
          text-decoration: none;
          text-align: center;
          line-height: 60px;
          font-size: 2.4rem;
          font-weight: bold;
          transition: ease-in-out .3s;
          letter-spacing: .5px;
        }
        :hover{
          color: $accentColor;
          letter-spacing: 1px;
        }
      }
    }
  }
  .scroll{
    width: 260px;
    height: 80px;
    background: $mainColor;
    position: absolute;
    top: 650px;
    left: 250px;
    h2{
      color: #fefefe;
      font-size: 24px;
      text-align: center;
      line-height: 80px;
    }
  }
  .header_images{
    position: relative;
    position: absolute;
    top: 20px;
    right: -70px;
    .gear_image{
      position: absolute;
      top: 300px;
      right: -180px;
    }
  }
}
main{
  width: 100%;
}
.myself{
  width: 100%;
  height: 600px;
  background: #D2B7A0;
  // margin-top: 150px;
  h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: $textColor;
  }
  .profile{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .profile_name{
      width: 35%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      figure{
        width: 300px;
        height: 300px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      h2{
        font-size: 35px;
        color: $textColor;
        span{
          font-size: 18px;
        }
      }
    }
    .profile_text{
      width: 65%;
      height: 100%;
      padding-top: 50px;
      p{
        font-size: 20px;
        padding-bottom: 15px;
        color: $textColor;
      }
      button{
        margin-top: 70px;
        width: 200px;
        height: 60px;
        color: #F7ECEC;
        font-size: 24px;
        background: $mainColor;
        transition: ease-in-out .3s;
        &:hover{
          color: $accentColor;
          letter-spacing: .6px;
        }
      }
    }
  }
}
.future{
  width: 100%;
  height: 500px;
  position: relative;
  // overflow: hidden;
  h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: $textColor;
  }
  .future_text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      font-size: 48px;
      text-align: center;
      color: $textColor;
      span{
        color: #F23827;
      }
    }
  }
  .gear_big{
    position: absolute;
    top: -150px;
    left: -280px;
    z-index: -1;
  }
  .gear_normal{
    width: 400px;
    height: 400px;
    z-index: -1;
    // overflow: hidden;
    transform: scale(100px);
    position: absolute;
    bottom: -50px;
    right: 20px;
  }
}
.work{
  width: 100%;
  height: 900px;
  position: relative;
  border: 3px solid skyblue;
  margin-top: 40px;
  h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: $textColor;
  }
  .slider_wrap{
    width: 1100px;
    overflow:hidden;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .work_slider{
    display: flex;
    column-gap:3%;
    margin-top: 30px;
    transition:transform ease-in-out .5s;
    a{
        width: 1100px;
        height: auto;
        // height: 500px;
        height:auto;
      }
    img{
        width: 100%;
        height:auto;
      }
    }
  }
  .work_page{
    width: 20%;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    margin: 50px auto 0;
    a{
      cursor: pointer;
      width: 15px;
      height: 15px;
      background: #59331D;
      border-radius: 50%;
      transition: ease-in-out .3s;
    }
  }
}