html {
  font-size: 62.5%;
}

body {
  background: #F2D399;
  width: 100%;
  height: auto;
}

header {
  background: #F2D399;
  width: 100%;
  height: 100vh;
  position: relative;
}
header .trapezoid {
  border-top: 1050px solid #A65F37;
  border-left: 0 solid transparent;
  border-right: 150px solid transparent;
  width: 400px;
}
header .svgTitle {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 380px;
  z-index: 3;
}
header .svgTitle figure {
  width: 100%;
  height: 100px;
}
header .svgTitle figure img {
  width: 100%;
  height: 120%;
}
header .nav {
  width: 480px;
  height: 80px;
  background: #59331D;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
header .nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav ul li {
  background: #F2D399;
  border-radius: 20px;
  width: 100px;
  height: 60px;
  list-style: none;
}
header .nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #2c2c2c;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  letter-spacing: 0.5px;
}
header .nav ul li :hover {
  color: #F23827;
  letter-spacing: 1px;
}
header .scroll {
  width: 280px;
  height: 80px;
  background: #59331D;
  position: absolute;
  top: 600px;
  left: 150px;
}
header .scroll h2 {
  color: #fefefe;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
}
header .header_images {
  position: relative;
  position: absolute;
  top: 20px;
  right: 0;
}
header .header_images .gear_image {
  position: absolute;
  top: 300px;
}