html {
  font-size: 62.5%;
}

body {
  background: #F2D399;
  width: 100%;
  height: auto;
}

.mouse-stalker {
  position: fixed;
  width: 10px;
  height: 10px;
  background: #F23827;
  opacity: 0.8;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.1s;
  transition-timing-function: ease-out;
  z-index: 999;
}

.meter_content {
  position: relative;
  width: 100%;
}
.meter_content .meter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0;
  height: 8px;
  z-index: 990;
  background-color: #ddd;
  animation: meter linear;
  animation-timeline: scroll();
}
@keyframes meter {
  0% {
    background-color: #F23827;
    width: 0;
  }
  100% {
    background-color: #F23827;
    width: 100%;
  }
}

header {
  background: #F2D399;
  width: 100%;
  height: 998px;
  position: relative;
  overflow: hidden;
}
header .trapezoid {
  border-top: 998px solid #A65F37;
  border-left: 0 solid transparent;
  border-right: 150px solid transparent;
  width: 450px;
  position: absolute;
}
header .svgTitle {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 350px;
  z-index: 3;
}
header .svgTitle figure {
  width: 100%;
  height: 100px;
}
header .svgTitle figure img {
  width: 100%;
  height: 120%;
}
header .nav {
  width: 480px;
  height: 80px;
  background: #59331D;
  border-radius: 20px;
  position: fixed;
  top: 50px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 3;
}
header .nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav ul li {
  background: #F2D399;
  border-radius: 20px;
  width: 100px;
  height: 60px;
  list-style: none;
}
header .nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #2c2c2c;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-size: 1.8rem;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  letter-spacing: 0.5px;
}
header .nav ul li :hover {
  color: #F23827;
  letter-spacing: 1px;
}
header .scroll {
  width: 260px;
  height: 80px;
  background: #59331D;
  position: absolute;
  top: 650px;
  left: 250px;
}
header .scroll h2 {
  color: #fefefe;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}
header .header_images {
  position: relative;
  position: absolute;
  top: 20px;
  right: -70px;
}
header .header_images .gear_normal img {
  animation: 3s linear infinite rotation1;
}
header .header_images .gear_image {
  position: absolute;
  top: 300px;
  right: -10px;
}
header .header_images .gear_image img {
  animation: 3s linear infinite rotation2;
}

@keyframes rotation1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotation3 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
main {
  width: 100%;
}

.myself {
  width: 100%;
  height: 600px;
  background: #D2B7A0;
}
.myself h2 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: #2c2c2c;
}
.myself .profile {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.myself .profile .profile_name {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.myself .profile .profile_name figure {
  width: 300px;
  height: 300px;
}
.myself .profile .profile_name figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.myself .profile .profile_name h2 {
  @import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Inika&family=Lalezar&family=Merriweather:wght@300&display=swap");
  font-size: 30px;
  color: #2c2c2c;
}
.myself .profile .profile_name h2 span {
  font-size: 15px;
}
.myself .profile .profile_detail {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}
.myself .profile .profile_detail .profile_text {
  width: 80%;
  height: 100%;
  padding-top: 40px;
}
.myself .profile .profile_detail .profile_text p {
  font-size: 20px;
  padding-bottom: 15px;
  color: #2c2c2c;
}
.myself .profile .profile_detail .profile_skill {
  width: 65%;
  height: 500px;
  margin-top: 25px;
}
.myself .profile .profile_detail .profile_skill h2 {
  width: 100%;
  font-size: 40px;
  color: #2c2c2c;
}
.myself .profile .profile_detail .profile_skill .skill_flex {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.myself .profile .profile_detail .profile_skill .skill_flex .skill_content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myself .profile .profile_detail .profile_skill .skill_flex .skill_content .skill_value figure {
  width: 80px;
}
.myself .profile .profile_detail .profile_skill .skill_flex .skill_content .skill_value figure img {
  width: 100%;
  height: 100%;
}
.myself .profile .profile_detail .profile_skill .skill_flex .skill_content .skill_value .icon {
  width: 60px;
}
.myself .profile .profile_detail .profile_skill .skill_flex .skill_content .skill_value .icon img {
  width: 100%;
}
.myself .profile .profile_detail .profile_skill .skill_flex .skill_content .skill_value .iconMargin {
  margin-left: 20px;
}

.future {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.future h2 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: #2c2c2c;
}
.future .future_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.future .future_text h1 {
  font-size: 48px;
  text-align: center;
  color: #2c2c2c;
}
.future .future_text h1 span {
  color: #F23827;
}
.future .gear_big {
  position: absolute;
  top: -150px;
  left: -280px;
  z-index: -1;
}
.future .gear_big img {
  animation: 10s linear infinite rotation3;
}
.future .gear_normal {
  width: 400px;
  height: 400px;
  z-index: -1;
  transform: scale(100px);
  position: absolute;
  bottom: 10px;
  right: -120px;
}
.future .gear_normal img {
  animation: 12s linear infinite rotation3;
}

.work {
  width: 100%;
  height: 1400px;
}
.work h2 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: #2c2c2c;
}
.work .florita_content {
  width: 100%;
  height: 700px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .florita_content .florita_image {
  width: 15%;
  transform: rotate(-10deg);
}
.work .florita_content .florita_image figure {
  width: 100%;
}
.work .florita_content .florita_image figure img {
  width: 100%;
}
.work .florita_content .florita_infomation {
  width: 30%;
  display: flex;
  flex-flow: column;
}
.work .florita_content .florita_infomation p, .work .florita_content .florita_infomation h3 {
  text-align: right;
}
.work .florita_content .florita_infomation p {
  font-size: 2rem;
}
.work .florita_content .florita_infomation p span {
  color: #F23827;
}
.work .florita_content .florita_infomation h3 {
  font-size: 9.6rem;
}
.work .florita_content .florita_infomation .florita_infomation_flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
}
.work .florita_content .florita_infomation .florita_infomation_flex .florita_infomation_box {
  width: 120px;
  height: 80px;
  margin: 10px 5px 0;
  background: #59331D;
}
.work .florita_content .florita_infomation .florita_infomation_flex .florita_infomation_box p, .work .florita_content .florita_infomation .florita_infomation_flex .florita_infomation_box h4 {
  color: #eee;
  text-align: center;
  line-height: 35px;
}
.work .florita_content .florita_infomation .florita_infomation_flex .florita_infomation_box p {
  font-size: 12px;
}
.work .florita_content .florita_infomation .florita_infomation_flex .florita_infomation_box h4 {
  font-size: 16px;
}
.work .florita_content .florita_infomation .florita_infomation_ture .florita_ture_title {
  width: 140px;
  height: 30px;
  background: #59331D;
  margin: 20px 5px 0 auto;
}
.work .florita_content .florita_infomation .florita_infomation_ture .florita_ture_title p {
  color: #eee;
  font-size: 1.2rem;
  text-align: center;
  line-height: 30px;
}
.work .florita_content .florita_infomation .florita_infomation_ture .florita_ture_box {
  width: 380px;
  height: 60px;
  background: #59331D;
  margin: 0 5px 20px auto;
}
.work .florita_content .florita_infomation .florita_infomation_ture .florita_ture_box h4 {
  color: #eee;
  font-size: 1.5rem;
  text-align: center;
  line-height: 60px;
}
.work .florita_content .florita_infomation .florita_btn {
  width: 120px;
  height: 50px;
  -webkit-text-decoration: double;
          text-decoration: double;
  border-bottom: #59331D 1px solid;
  font-size: 1.6rem;
  margin: 0 5px 0 auto;
  transition: ease-in-out 0.3s;
}
.work .florita_content .florita_infomation .florita_btn a {
  color: #59331D;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.work .florita_content .florita_infomation .florita_btn a:hover {
  letter-spacing: 0.8px;
  color: #F23827;
}
.work .seek_content {
  width: 100%;
  height: 800px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .seek_content .seek_image {
  width: 15%;
  transform: rotate(-10deg) scale(1.2);
}
.work .seek_content .seek_image figure {
  width: 100%;
}
.work .seek_content .seek_image figure img {
  width: 100%;
}
.work .seek_content .seek_infomation {
  width: 30%;
  display: flex;
  flex-flow: column;
}
.work .seek_content .seek_infomation p, .work .seek_content .seek_infomation h3 {
  text-align: right;
}
.work .seek_content .seek_infomation p {
  font-size: 2rem;
}
.work .seek_content .seek_infomation p span {
  color: #F23827;
}
.work .seek_content .seek_infomation h3 {
  font-size: 9.6rem;
}
.work .seek_content .seek_infomation .seek_infomation_flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
}
.work .seek_content .seek_infomation .seek_infomation_flex .seek_infomation_box {
  width: 120px;
  height: 80px;
  margin: 10px 5px 0;
  background: #59331D;
}
.work .seek_content .seek_infomation .seek_infomation_flex .seek_infomation_box p, .work .seek_content .seek_infomation .seek_infomation_flex .seek_infomation_box h4 {
  color: #eee;
  text-align: center;
  line-height: 35px;
}
.work .seek_content .seek_infomation .seek_infomation_flex .seek_infomation_box p {
  font-size: 12px;
}
.work .seek_content .seek_infomation .seek_infomation_flex .seek_infomation_box h4 {
  font-size: 16px;
}
.work .seek_content .seek_infomation .seek_infomation_ture .seek_ture_title {
  width: 140px;
  height: 30px;
  background: #59331D;
  margin: 20px 5px 0 auto;
}
.work .seek_content .seek_infomation .seek_infomation_ture .seek_ture_title p {
  color: #eee;
  font-size: 1.2rem;
  text-align: center;
  line-height: 30px;
}
.work .seek_content .seek_infomation .seek_infomation_ture .seek_ture_box {
  width: 380px;
  height: 60px;
  background: #59331D;
  margin: 0 5px 20px auto;
}
.work .seek_content .seek_infomation .seek_infomation_ture .seek_ture_box h4 {
  color: #eee;
  font-size: 1.5rem;
  text-align: center;
  line-height: 60px;
}
.work .seek_content .seek_infomation .seek_btn {
  width: 120px;
  height: 50px;
  -webkit-text-decoration: double;
          text-decoration: double;
  border-bottom: #59331D 1px solid;
  font-size: 1.6rem;
  margin: 0 5px 0 auto;
  transition: ease-in-out 0.3s;
}
.work .seek_content .seek_infomation .seek_btn a {
  color: #59331D;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.work .seek_content .seek_infomation .seek_btn a:hover {
  letter-spacing: 0.8px;
  color: #F23827;
}

.contact {
  width: 100%;
  height: 200px;
  margin-top: 250px;
}
.contact h2 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: #2c2c2c;
}
.contact .contact_flex {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact_flex .contact_iconImage {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.contact .contact_flex .contact_iconImage figure {
  width: 50px;
}
.contact .contact_flex .contact_iconImage figure img {
  width: 100%;
}