html {
  font-size: 62.5%;
}

body {
  background: #F2D399;
  width: 100%;
  height: auto;
}

header {
  background: #F2D399;
  width: 100%;
  height: 998px;
  position: relative;
  overflow: hidden;
}
header .trapezoid {
  border-top: 998px solid #A65F37;
  border-left: 0 solid transparent;
  border-right: 150px solid transparent;
  width: 450px;
  position: absolute;
}
header .svgTitle {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 350px;
  z-index: 3;
}
header .svgTitle figure {
  width: 100%;
  height: 100px;
}
header .svgTitle figure img {
  width: 100%;
  height: 120%;
}
header .nav {
  width: 480px;
  height: 80px;
  background: #59331D;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 3;
}
header .nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav ul li {
  background: #F2D399;
  border-radius: 20px;
  width: 100px;
  height: 60px;
  list-style: none;
}
header .nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #2c2c2c;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  letter-spacing: 0.5px;
}
header .nav ul li :hover {
  color: #F23827;
  letter-spacing: 1px;
}
header .scroll {
  width: 260px;
  height: 80px;
  background: #59331D;
  position: absolute;
  top: 650px;
  left: 250px;
}
header .scroll h2 {
  color: #fefefe;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}
header .header_images {
  position: relative;
  position: absolute;
  top: 20px;
  right: -70px;
}
header .header_images .gear_image {
  position: absolute;
  top: 300px;
  right: -180px;
}

main {
  width: 100%;
}

.myself {
  width: 100%;
  height: 600px;
  background: #D2B7A0;
}
.myself h2 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: #2c2c2c;
}
.myself .profile {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.myself .profile .profile_name {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.myself .profile .profile_name figure {
  width: 300px;
  height: 300px;
}
.myself .profile .profile_name figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.myself .profile .profile_name h2 {
  @import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Inika&family=Lalezar&family=Merriweather:wght@300&display=swap");
  font-size: 35px;
  color: #2c2c2c;
}
.myself .profile .profile_name h2 span {
  font-size: 18px;
}
.myself .profile .profile_text {
  width: 65%;
  height: 100%;
  padding-top: 50px;
}
.myself .profile .profile_text p {
  font-size: 20px;
  padding-bottom: 15px;
  color: #2c2c2c;
}
.myself .profile .profile_text button {
  margin-top: 70px;
  width: 200px;
  height: 60px;
  color: #F7ECEC;
  font-size: 24px;
  background: #59331D;
  transition: ease-in-out 0.3s;
}
.myself .profile .profile_text button:hover {
  color: #F23827;
  letter-spacing: 0.6px;
}

.future {
  width: 100%;
  height: 500px;
  position: relative;
}
.future h2 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: #2c2c2c;
}
.future .future_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.future .future_text h1 {
  font-size: 48px;
  text-align: center;
  color: #2c2c2c;
}
.future .future_text h1 span {
  color: #F23827;
}
.future .gear_big {
  position: absolute;
  top: -150px;
  left: -280px;
  z-index: -1;
}
.future .gear_normal {
  width: 400px;
  height: 400px;
  z-index: -1;
  transform: scale(100px);
  position: absolute;
  bottom: -50px;
  right: 20px;
}

.work {
  width: 100%;
  height: 900px;
  position: relative;
  margin-top: 40px;
}
.work h2 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: #2c2c2c;
}
.work .slider_wrap {
  width: 1200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .slider_wrap .work_slider {
  display: flex;
  column-gap: 3%;
  margin-top: 30px;
  transition: transform ease-in-out 0.5s;
}
.work .slider_wrap .work_slider a {
  width: 1200px;
  height: auto;
  height: auto;
}
.work .slider_wrap .work_slider img {
  width: 100%;
  height: auto;
}
.work .work_page {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto 0;
}
.work .work_page a {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: #59331D;
  border-radius: 50%;
  transition: ease-in-out 0.3s;
}
.work .work_page .focus {
  width: 20px;
  height: 20px;
  background: #F23827;
}
.work button {
  margin-top: 70px;
  width: 250px;
  height: 70px;
  color: #F7ECEC;
  font-size: 32px;
  background: #59331D;
  position: absolute;
  right: 100px;
  bottom: 50px;
  transition: ease-in-out 0.3s;
}
.work button:hover {
  color: #F23827;
  letter-spacing: 0.6px;
}

.private {
  width: 100%;
  height: 900px;
  position: relative;
}
.private h2 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: #2c2c2c;
}
.private .slider_wrap {
  width: 1200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}